<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <title>Noterun</title>
</head>
<body>
    <div class="title">
        <h1>NOTE<span>RUN</span></h1>
    </header>
    <div class="container">
        {% for note in notes %}
        <a href="/notes/{{note.id}}">
            <div class="card">
                <!-- <h1 class="plus">&#x2B</h1> -->
                <h1 class="card_title">{{note.title}}</h1>
                <p class="content">{{note.content}}</p>
                <form action="/delete/{{note.id}}" method="post">
                    <button class="delete" type="submit">&#x1F5D1;</button>
                </form>
            </div>
        </a>
        {% endfor %}
        <a href="/create">
            <button class="card cardEmpty" type="submit">
                <h1 class="plus">&#x2B</h1>
            </button>
        </a>
    </div>
</body>
</html>